@import "../styles/mixin";

.star-view-content {
  position: relative;
  width: 800px;
  @include centerPosition;

  .star-view-content-image {
    cursor: pointer;
  }

  .star-view-card-wrap {
    width: 800px;
    margin: 20px 10px;
    overflow-x: scroll;

    .star-view-card-swiper {
      display: flex;
      width: 1000px;
    }
  }
}
