.selected-box {
  background: linear-gradient(163.54deg, #ff659e 8.22%, #f56b30 94.1%);
  border-radius: 18px;
}

.star-view-product-card {
  width: 106px;
  height: 106px;
  margin: 0 3px;
  border-radius: 16px;
  border: 0.5px solid #aaafb9;
  overflow: hidden;

  img {
    height: 100%;
    object-fit: cover;
  }
}
